<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>CrawlThemAll</title>
    
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap/css/bootstrap.min.css") }}">
</head>

<body>
    <script src="{{ url_for("static", filename="jquery-1.11.3.min.js") }}"></script>
    <script src="{{ url_for("static", filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <script type=text/javascript>
        function copyToClipboard(text) {
            window.prompt("copy/cut the link to clipboard...", text);
        }
    </script>

    <div class="headline">
        <h1 class="headline-title bg-primary">Hello Crawler!</h1>
        <small class="bg-info">You crawl, I crawl.</small>
    </div>

    {% block form %}{% endblock %}

    {% block result %}{% endblock %}
</body>
